.weather-card{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.weather-img-container{
    border-radius: 5px;
    max-height: 375px;
    overflow: hidden;

}
.weather-img-container img{
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}